body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.alert-publish{
    float: left;
}
.div-notice{
    padding-top: 50px;
}
.media-object{
    width: 57px;
    height: 57px;
}
.text-subjoin{
    font-size: 10px;
    font-weight: normal;
    color: gray;
}