<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>硕狗论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.6.0.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<script type="application/javascript">
    window.onload = function (){
        var localData = window.localStorage.getItem("localData");
        if(localData =="true"){
            window.close();
            window.localStorage.removeItem("localData");
        }
        console.log(localData);
    }
</script>

<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-8">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>

            <div class="media" th:each="questionDTO:${paginationDTO.questionDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${questionDTO.id}}" th:text="${questionDTO.title}"></a>
                    </h4>
                    <span th:text="${questionDTO.description}"></span>
                    <br>
                    <span class="text-subjoin">
                        <span th:text="${questionDTO.readCount}"></span>次浏览&nbsp;·&nbsp;
                        <span th:text="${questionDTO.commentCount}"></span>个回复&nbsp;|&nbsp;最后修改于：
                        <span th:text="${#dates.format(questionDTO.gmtModified, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>

                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <li th:if="${paginationDTO.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showPreviousPage}">
                        <a th:href="@{/(currentPage=${paginationDTO.currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="currentPage : ${paginationDTO.pages}" th:class="${paginationDTO.currentPage==currentPage}? 'active': ''">
                        <a th:href="@{/(currentPage=${currentPage})}" th:text="${currentPage}"></a>
                    </li>

                    <li th:if="${paginationDTO.showNextPage}">
                        <a th:href="@{/(currentPage=${paginationDTO.currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage}">
                        <a th:href="@{/(currentPage=${paginationDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-md-4 div-notice">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
</html>