<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.6.0.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-md-8">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>

            <div class="media" th:each="questionDTO:${paginationDTO.questionDTOList}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-thumbnail"
                             th:src="${questionDTO.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${questionDTO.title}"></h4>
                    <span th:text="${questionDTO.description}"></span>
                    <br>
                    <span class="text-subjoin">
                        <span th:text="${questionDTO.readCount}"></span>次浏览&nbsp;·&nbsp;
                        <span th:text="${questionDTO.commentCount}"></span>个回复&nbsp;|&nbsp;最后修改于：
                        <span th:text="${#dates.format(questionDTO.gmtModified, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>

                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">

                    <li th:if="${paginationDTO.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(currentPage=${1})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showPreviousPage}">
                        <a th:href="@{'/profile/'+${section}(currentPage=${paginationDTO.currentPage - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="currentPage : ${paginationDTO.pages}" th:class="${paginationDTO.currentPage==currentPage}? 'active': ''">
                        <a th:href="@{'/profile/'+${section}(currentPage=${currentPage})}" th:text="${currentPage}"></a>
                    </li>

                    <li th:if="${paginationDTO.showNextPage}">
                        <a th:href="@{'/profile/'+${section}(currentPage=${paginationDTO.currentPage + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage}">
                        <a th:href="@{'/profile/'+${section}(currentPage=${paginationDTO.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="list-group">
                <a href="/profile/questions" th:class="${section=='questions'}? 'active list-group-item': 'list-group-item'">我的提问</a>
                <a href="/profile/replies"   th:class="${section=='replies'}?   'active list-group-item': 'list-group-item'">最新回复<span class="badge">14</span></a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>